<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body bgcolor="ocean">
<form action="register" method="POST">
    {% csrf_token %}
    User Name : <input type="text" name="username"><br>
    First Name : <input type="text" name="first_name"><br>
    Last Name : <input type="text" name="last_name"><br>
    Email : <input type="email" name="email_id"><br>
    Password: <input type="password" name="password1"><br>
    Again Password : <input type="password" name="password2"><br>
    <input type="submit">
</form>

</body>
</html>